.App {
    background-color: #dbdce1;
    height: 100vh;
    padding-top: 100px;

}

.form-wrap {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 980px;
    margin: 0 auto;
    padding: 40px;
}

.product-title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #4a4ac0;
    margin-bottom: 20px;
}

.product-calendar {
    max-width: 600px;
    text-align: left;
    margin-bottom: 15px;
}

.product-options {
    display: flex;
    margin-bottom: 60px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}






.product-info {
    text-align: left;
    font-weight: 600;
}

.product {
    display: flex;
    min-height: 42px;
}

.productItem {
    border-bottom: 1px solid #d0d0d0;
    padding: 0 4px;
    word-wrap: break-word;
    text-align: left;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.productItem:not(:nth-child(5),:last-child) {
    border-right: 1px solid #d0d0d0;
}

.productItem:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.productItem:nth-child(2) {
    width: 150px;
    min-width: 150px;

}

.productItem:nth-child(3) {
    width: 150px;
    min-width: 150px;

}

.productItem:nth-child(4) {
    width: 100%;
    min-width: 150px;
}

.productItem:nth-child(5) {
    width: 150px;
    min-width: 150px;
}
.product-hover:hover{
    background-color: #eaeaea;

}


.productItem:nth-child(6) {
    min-width: 22px;
}

.product-additional-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.additional-section_wrap {
    display: flex;
    min-width: 100%;
    height: 38px;
}

.section_wrap-output {
    border-bottom: 1px solid #d0d0d0;
    padding: 0 4px;
    width: 100%;

}
.wrap-item-align {
    display: flex;
    align-items: center;
    color: #0202ad;
    font-size: 16px;
}

.section_wrap-item {
    border-bottom: 1px solid #d0d0d0;
    padding: 0 4px;

}

.section_wrap-item:not(:nth-child(3),:last-child) {
    border-right: 1px solid #d0d0d0;
}

.section_wrap-item:nth-child(1) {
    padding: 0 4px;
    width: 150px;
    min-width: 150px;

}

.section_wrap-item:nth-child(2) {
    padding: 0 4px;
    width: 100%;
    min-width: 150px;

}

.section_wrap-item:nth-child(3) {
    width: 150px;
    min-width: 150px;
}

.section_wrap-item:nth-child(4) {
    min-width: 22px;
}
.product-search {
    display: flex;
}
.product-search-btn {
    border: 1px solid rgba(0,66,105,0.28) !important;
    color: rgba(0,66,105,0.28) !important;
    border-left: none !important;
}
